<div id="directions" hidden style="padding-bottom: 60px;">
	<div class="container">
		<div class="row">
			<div class="col-xs-12" style="text-align: center;">
				<h2 class="header-directions">Directions </h2>
				<div class="col-xs-12 col-sm-12 col-md-6" style="display: inline-block;">
					<h3>Ceremony</h3>
					<div>
						<strong>Holy Martyrs Catholic Church </strong> <br>
						<div id="ceremony-address"></div>
					</div>
					<div id="mapCeremony"></div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-6" style="display: inline-block;">
					<h3>Reception</h3>

					<div>
						<strong>Perez Family Household</strong> <br>
						<div id="reception-address"></div>
					</div>
					<div id="mapReception"></div>
				</div>
				</div>
		</div>
	</div>
</div>