---
---

<footer class="footer">
  <div class="container">
    <p class="text-muted text-center">
      Copyright &copy; <span id="year"></span> {{ site.name }}
    </p>
  </div>
  <div class="container">
    <p class="text-muted text-center">
      <a style="padding-right: 25px;" href="https://www.instagram.com/{{ site.instagram }}"><span style="color:#bc2a8d;" class="fab fa-instagram"></span> {{ site.instagram }} </a>
      <a href="https://www.facebook.com/{{ site.facebook }}"><span style="color:#3b5998;" class="fab fa-facebook-f"></span> {{ site.facebook }} </a>
    </p>
  </div>
</footer>
