<div id="passwordRow" style="padding-top: 20px;" class="row col-sm-offset-3 col-sm-6">
    <form class="form-inline" id="password">
        <div id="invalidCode" hidden>
            <p style="border-radius: 10px; color: #555;font-size: 14px !important;" class="bg-danger">Your invitation code was invalid</p></div>
        <div class="input-group">
          <input type="text" class="form-control password-text" placeholder="Invitation Code">
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit">Submit</button>
          </span>
        </div><!-- /input-group -->
        <div style="top:5px; text-align: center; display: inline;" class="input-group">
            <ul class="list-inline text-center">
                <li><a style="color: #555;" href="#" title="Where is this?" data-toggle="popover" data-html="true" data-placement="bottom" data-content="Your invitation code can be found on the back of your invitation card. Still can't find it? <a href='mailto:austin@austinp.com'>Send us an email</a>">
                    <span class="glyphicon glyphicon-info-sign"></span>
                </a></li>
            </ul>
        </div>
    </form>
</div>