---
layout: compress
---

<!DOCTYPE html>
<html lang="en">
<head Content-Type: text/html; charset=utf-8>
  {% include _meta.html %}
  <title>{{ site.title }}</title>
  {% include _css.html %}

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-W7BSRV4');</script>
</head>

<body data-spy="scroll" data-offset="51">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W7BSRV4"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="wrapper">
        <div id="main" class="clear-top">
            <div class="jumbotron jumbotron-main">
              <div class="container text-center">
                <h1>
                    Austin & Hayden
                </h1>
                <!-- Password to enter into site -->
                {% include _password.html %}
              </div>
            </div>

            <!-- RSVP form -->
            {% include _rsvpForm.html %}

            <div class="jumbotron jumbotron-registry" hidden>
              <div class="container text-center" style="color: #555;">
                <h2 class="header-registry" style="margin-top: 0;">
                    Registry
                </h2>
                <div class="row">
                    <div class="col-md-4 text-center" style="padding-bottom: 15px;display: inline-block;">
                        <a class="svg" target="_blank" href="https://www.target.com/gift-registry/gift/austinandhayden">
                            <div class="registry-box">
                                <object style="pointer-events: none;" data="/assets/images/target_logo.svg" type="image/svg+xml">
                                  <img src="/assets/images/target_logo.png" />
                                </object>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4" style="padding-bottom: 15px;display: inline-block;">
                        <a class="svg" target="_blank" href="https://www.amazon.com/wedding/share/austinandhayden">
                            <div class="registry-box">
                                <object style="pointer-events: none;" data="/assets/images/amazon_logo.svg" type="image/svg+xml">
                                  <img src="/assets/images/amazon_logo.png" />
                                </object>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4" style="display: inline-block;">
                        <a class="svg" target="_blank" href="https://www.myregistry.com/giftlist/austinandhayden">
                            <div class="registry-box">
                                <object style="pointer-events: none;" data="/assets/images/costco_logo.svg" type="image/svg+xml">
                                  <img src="/assets/images/costco_logo.png" />
                                </object>
                            </div>
                        </a>
                    </div>
                </div>
              </div>
            </div>

            <!-- Maps and Directions form -->
            {% include _directions.html %}
        </div>
    </div>
    {% include _footer.html %}
    {% include _jsFooter.html %}
</body>
</html>